{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% block TITLE %}{{ page.title }}{% endblock %}
{% block CSS %}
<link rel="stylesheet" href="{% static 'css/blog/blogarchive/blogarchive.css' %}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.css">
{% endblock %}
{% block HEADJS %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.js"></script>
{% endblock %}
{% block CONTENT %}
    <header class="headerblog">
      <div class="h1divhead">
        <h1 class="blogh1 white-color">{{ page.title }}</h1>
      </div>
    </header>
    <section class="container-fluid">
        <div class="row">
          <section
            class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="row" id="blog-posts">
              {% for post in posts %}
                <div class="card" style="width: 18rem">
                  {% if post.image %}
                    <img
                      src="{{ post.image.url }}"
                      class="card-img-top"
                      alt="{{ post.title }}"
                    />
                  {% else %}
                    <span>{{ post.title }}</span>
                  {% endif %}
                  <div class="card-body">
                    <h3 class="card-title h3">{{ post.title }}</h3>
                    <span class="bi bi-person">{{ post.author }}</span><br>
                    {% with categories=post.collection %}
                      {% if categories %}
                        {% for category in categories.all %}
                          <span class="bi bi-folder2-open">{{ category.name }}</span><br>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                    <span class="card-text">{{ post.intro|richtext }}</span><br>
                    <span class="bi bi-calendar3">{{ post.jpub }}</span></p>
                    <a href="{% pageurl post %}">مشاهده بیشتر</a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </section>
        </div>
      <div class="plusbutton">
        <button type="button" class="btn btn-outline-danger" id="load-more">
          بارگیری بیشتر مقالات
        </button>
      </div>
    </section>

{% block JS %}
<script>
  $(document).ready(function() {
    var page = 1;
    var perPage = 9;

    function loadPosts() {
      $.getJSON('/UNIQUEAPI174/pages/?type=blog.BlogPage', { offset: page, limit: perPage }, function(data) {
        var posts = data.posts;
        if (posts.length > 0) {
          for (var i = 0; i < posts.length; i++) {
            var post = posts[i];
            var postHtml = `
            <div class="card" style="width: 18rem">
              {% if post.image %}
                <img
                  src="${post.image}"
                  class="card-img-top"
                  alt="${post.title}"
                />
              {% else %}
                <span>${post.title}</span>
              {% endif %}
              <div class="card-body">
                <h3 class="card-title h3">${post.title}</h3>
                <span class="bi bi-person">${post.owner}</span><br>
                {% with categories=post.collection %}
                  {% if categories %}
                    {% for category in categories.all %}
                      <span class="bi bi-folder2-open">${category.name}</span><br>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
                <span class="card-text">${post.intro|richtext}</span><br>
                <span class="bi bi-calendar3">${post.date|jpub}</span></p>
                <a href="${post.url}">مشاهده بیشتر</a>
              </div>
            </div>
            `;
            $('#blog-posts').append(postHtml);
          }
          page++;
        } else {
          Swal.fire({
            icon: 'info',
            title: 'پستی برای لود کردن وجود ندارد',
            text: 'دیگر پستی برای نمایش وجود ندارد.',
            confirmButtonText: 'باشه',
          });
        }
      });
    }

    $('#load-more').click(function() {
      loadPosts();
    });

    loadPosts();
  });
</script>
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
  integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
  crossorigin="anonymous"
></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
{% endblock %}
